<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sahilvaidya.debatetimer">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen"/>
        </activity>

        <activity
            android:name=".Constructive"
            android:label="@string/title_activity_constructive"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AffPrep" />
        <activity android:name=".NegPrep" />
        <activity android:name=".Rebuttal" />
        <activity android:name=".CX" />
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>